body {
    background: #d2c9c987;
    overflow-x: hidden;
}
#gates {
    background:url('../../../public/uploads/stjit_back.jpg');
    background-position: center;
}
.navbar-brand {
    height: auto !important;
}
.page-header {
    margin: 0;
}
.header_title {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.5;
}
#login_form {
    opacity: 1;
    background: rgba(16, 15, 15, 0.65);
    border: none;
}
.form_head {
    background: none !important;
    border: none !important;
    margin-bottom: 13%;
}
.btn-login {
    padding: 5px !important;
    margin-top: 41%;
    background: #fb479bc2;
    border: 1px solid #fb479bc2;
}
.display_b {
    display: block;
}
.display_n {
    display: none;
}
.display_grid {
    display: grid;
}
.submenu li {
    padding: 10px;
}
.table th {
    font-size: 14px;
    text-align: center;
}
.table tr {
    font-size: 14px;
}
.m_l_20 {
    margin-left: 20px;
}
.text_c {
    text-align: center;
}
.text_inherit {
    text-align: inherit;
}
.title_text {
    font-size: 17px;
    color: blue;
    font-weight: 600;
}
.font_w {
    font-weight: 600;
}
.font_17 {
    font-size: 17px;
}
textarea {
    white-space: normal;
    text-align: left;
}
.sidebar {
    width: 240px;
}
ul li {
    list-style: none;
    padding: 5px;
}
ul li a {
    padding: 10px !important;
}
.white_text {
    color: #ffffff;
}
.p_15 {
    padding: 15px;
}
.m_t_30 {
    margin-top: 30%;
}
.no_background {
    background: none;
}
.no_border {
    border: none;
}
.border_b {
    border-bottom: 1px solid #fff !important;

}
.profile {
    line-height: 2;
}
.panel-default>.panel-heading {
    background-color: #2ebdbd;
    border-color: #2ebdbd;
}
.panel-default>.panel-heading {
    color: #fff;
    font-weight: 600;
}